numpy
pandas
dataclasses
diffeqpy
scipy
setuptools
matplotlib
scikit-learn
simple_pid
imageio
imageio-ffmpeg
SALib
gunicorn
plotly
dash
dash_cytoscape
dash_bootstrap_components
dash_daq
dash_auth
Flask
seaborn
statsmodels
bioinfokit